.cardholder{
    position: relative;
    width: 500px;
    min-width: 350px;
    display: block;
    top: -3000px;
    text-align: center;
    margin: 0 auto;
}
.cover-container{
    position: absolute;
    top: 0;
    width: 100%;
    height: 260px;
    z-index: 12;
}
.cover{
    width: 100%;
    height: 100%;
}
.cover .front{
    border: 5px solid #6c006c;
    box-shadow: rgba(255, 255, 255, 0.117647) 4px 4px 18px 5px inset, rgba(0, 0, 0, 0.168627) -4px -4px 18px 5px inset;
    cursor: pointer;
}
.cover-front-texture{
    background: url(../img/patterns/symphony.png);
}
.cover-back-texture{
    //background-color: #8a005e;
    background-color: rgb(181, 100, 191);
    background-image: url(../img/patterns/brushed-alum.png);
}
.cover .back{
    border: 5px solid #6c006c;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.cover .back p{
    position: relative;
    top: 100px;
    color: rgba(107, 16, 107, 0.62);
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(16, 16, 16, 0.25);
    font-family: 'Roboto', sans-serif;
    text-transform: lowercase;
    font-size: 14px;
    display: none;
}
.cover h3.openme{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: #FFBB00;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 0px 2px 0px #A67A00;
}
.cover h3.openme:hover{
    text-shadow: 0px 2px 0px #c59300;
    cursor: pointer;
}
.case{
    position: relative;
    border: 5px solid #6c006c;
    //background: url(../img/patterns/brushed_alu3.png);
    width: 100%;
    height: 300px;
    z-index: 10;
}
.case .embossed{
    position: relative;
    text-transform: uppercase;
    top: 40%;
    font-weight: bold;
    color: rgba(108, 0, 108, 0.16);
    font-size: 40px;
    text-shadow: rgba(255, 255, 255, 0.13) 3px 2px 3px;
}
.bottom{
    background-color: #7c1f7c;
    border: 5px solid #6c006c;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    z-index: 11;
    box-shadow: rgba(255, 255, 255, 0.117647) 4px 4px 18px 5px inset, rgba(0, 0, 0, 0.168627) -4px -4px 18px 5px inset;
}

.cardtext{
    font-family: 'Roboto', sans-serif;
    padding: 0 20px;
}
/*Cards themselves*/

.cards{
    position: absolute;
    top: 10px;
    width: 100%;
}
.cards .card{
    box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.75);
    overflow: hidden;
    position: absolute;
    width: 400px;
    height: 250px;
    background: white;
    border: 2px solid #6c006c;
    z-index: 10;
    margin-left:-200px;
    left:50%;
    background: url('../img/patterns/handmadepaper.png');
    cursor: move;
}
.card.card-0{

}
.card.card-0 h5{
    font-family: 'Droid Sans', sans-serif;
    color: #6C006C;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.card.card-0 .skill-label{
    position: relative;
    display: inline-block;
    float: left;
    width: 50px;
    height: 50px;
    margin: 10px;
}

.skill-label img{
    width: 50px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease-in-out;

}
.skill-label img:hover {
    transform: scale(1.2);
}

.card.card-1{
    top: 5px;
}
.card.card-1 h3{
    margin-bottom: 15px;
    margin-top: 30px;
}
.card.card-1 p{
    font-size: 15px;
}
.card.card-2{
    top: 10px;
}
.card.card-2 .photo{
    max-width: 100%;
    top: 20px;
    position: absolute;
    display: block;
}
.card.card-2 .contacts{
    margin-top: 40px;
    text-align: left;
    margin-left: 20px;
}

.card.card-2 h2{
    text-transform: uppercase;
    color: #6C006C;
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    margin-left: 20px;
    letter-spacing: -1px;
    text-shadow: none;
}
.card.card-2 h4{
    text-align: left;
    margin-left: 20px;
    margin-top: -4px;
    letter-spacing: -1px;
    color: #6C006C;
}
.card.card-2 .contacts p{
    font-size: 15px;
}