html{
    overflow: hidden;
}
body{
    overflow: hidden;
    background-color: white;
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    //background-color: #010000;
    font-family: 'Droid Sans', sans-serif;
    font-weight: 400;
    position: relative;
    height: 100%;
    overflow-x: hidden;
}

h2{
    color: #042543;
    text-shadow: 6px 10px 100px rgba(0, 0, 0, 0.49);
    text-shadow: 7px 3px 27px rgba(0, 0, 0, 0.49);
    font-weight: bold;
    font-size: 40px;
}

.title{
    text-align: center;
    font-family: 'Oswald', sans-serif;

}
.title h1{
    font-size: 70px;
    margin-top: 10px;
    text-transform: uppercase;

}

.container{

}