body{
    background: url(../img/wall.jpg);
    background-position: center top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #010000;
    font-family: 'Droid Sans', sans-serif;
    font-weight: 400;
    position: relative;
    height: 100%;
}

.title{
    text-align: center;
    font-family: 'Oswald', sans-serif;

}
.title h1{
    font-size: 70px;
    margin-top: 10px;
    text-transform: uppercase;

}

.container{

}