<!DOCTYPE html>
<html lang="en" ng-app="lomegg">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Andrei Lamakin is a nice and reliable guy to do your webwork.">
        <title>Andrei Lamakin's personal page</title>
        <meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
        <meta name="author" content="Andrei Lamakin">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/bootstrap-theme.css" rel="stylesheet">
        <link href="css/overrides.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/cards.css" rel="stylesheet">
        <!-- Add counters here-->
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
        <link rel="manifest" href="img/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700|Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body  ng-controller="CardsController as cards">
        <div id="wrapper">
            <div class="vertical-center">

                <div class="container">
                    <div class="row hidden-600">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div class="loading">LOADING...</div>
                            <div id="cardholder" class="cardholder">
                                <div class="cover-container">
                                    <div class="cover" ng-click="cards.flipOver()">
                                        <div class="front">
                                            <h3 class="openme">_</h3>
                                        </div>
                                        <div class="back">
                                            <p>DRAG THE CARDS</p>
                                        </div>

                                    </div>

                                </div>
                                <div class="case">

                                </div>
                                <div class="cards">
                                    <div class="card card-0 stackable draggable cardtext">
                                        <h5>{{cards.skillsHeader}}</h5>
                                        <div class="labels">
                                            <div class="skill-label" ng-repeat="label in cards.labels">
                                                <img ng-src="{{label.image}}" alt="{{label.name}} - {{label.description}}" ng-mouseover="cards.changeSkillsHeader(label)"/>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="card card-1 stackable draggable cardtext">
                                        <div class="labels">
                                            <div class="label"></div>
                                        </div>
                                        <h3>Hi! Thanks for stopping by.</h3>
                                        <p>For about 3 years I've been creating web applications based on Ruby on Rails and MongoDB. I like front-end and making people smile.</p>
                                        <p>Now I enjoy learning the <a href="http://mean.io/">MEAN</a> stack. </p>
                                        <p>I mostly work freelance but will consider job offers.</p>
                                    </div>

                                    <div class="card card-2 stackable draggable">
                                        <div class="row">
                                            <div class="col-xs-7">
                                                <h2>Andrey Lamakin</h2>
                                                <h4>web developer</h4>
                                                <div class="contacts">
                                                    <p class="email">
                                                        <a href="mailto:gaugvitz@gmail.com">gaugvitz@gmail.com</a>
                                                    </p>
                                                    <p class="phone">
                                                        (+39) 324-988-0652
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-xs-5">
                                                <img src="img/photov6.png" alt="" class="photo"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="bottom stackable">
                                </div>
                            </div>
                    </div>
                        <div class="col-md-3"></div>
                </div>
                    <div class="row visible-600">
                        <h2>VISIBLE 600</h2>
                    </div>
                </div>

            <!--<div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="logo">
                            <div class="logo-inner">
                                <img src="img/gear.png" id="logo_gear" alt="The work is on!">
                                <div id="logo_screen">
                                    <img src="img/screen.png" alt=""/>
                                    <div id="box1"></div>
                                    <div id="box2"></div>
                                </div>
                                <img src="img/wrench.png" id="logo_wrench" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
            <div class="social">
                <div class="label noselect"  ng-click="cards.pullSocial()">
                    SOCIAL
                </div>
                <div class="icons">
                    <div class="icon facebook"><a href="https://www.facebook.com/andrey.lamakin" alt="Facebook link"></a></div>
                    <div class="icon twitter"><a href="https://twitter.com/lomegg" alt="Twitter link"></a></div>
                    <div class="icon linkedin"><a href="https://it.linkedin.com/pub/andrey-lamakin/104/56a/191" alt="LinkedIn link"></a></div>
                    <div class="clearfix"></div>
                </div>
                <div class="tooltip right" role="tooltip" ng-click="hideMe($event)">
                    <div class="tooltip-arrow"></div>
                    <div class="tooltip-inner">
                        Check out the social links to clean up the mess!
                    </div>
                </div>
            </div>
    </body>
    <script src="js/jquery.js" type="text/javascript"></script>
    <script src="js/jquery-ui.js" type="text/javascript"></script>
    <script src="js/jquery-ui.touch-punch.min.js" type="text/javascript"></script>
    <script src="js/jquery.flip.min.js" type="text/javascript"></script>
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <!--<script src="js/script.js" type="text/javascript"></script>-->
</html>